
<h1 class="jumbotron"> pln_LA Users</h1>

<div class="container-fluid">
	<div class="row">	
		<ul>
			<% @users.each do |u| %>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="panel panel-success">
						<div class="panel-body">
							<li>
							<%= image_tag u.image.url(:thumb) if u.image.url.present?%>
							<div><strong><%= u.name %></strong></div>
							<%= link_to "View", user_path(u) %>
							</li>
						</div>
					</div>
				</div>

			<%end%>
		</ul>

	</div>
</div>
