/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body{
    background: url('https://s3-us-west-1.amazonaws.com/plnla/plnLAbackground') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 12%;     
    font-family: 'Lora', serif;
}
.jumbotron {
	text-align: center;
	height: 15px;
	background-color: transparent
}

// .item {
// 	padding: 30px;
// 	margin: 10px; 
// }

// .grid-sizer {
// 	width: 25%;
// }

input {
	color: black;
	background-color: #BADEBF;
}

ul {
	list-style-type: none;
}
// #branding {
// 	color: black;
// }
#activity-photo {
	text-align: center;
}
#activity-photo img {
	border-radius: 5%;
	border: 10px solid black;
	margin: 0 auto;
}
#activity-description {
	text-align: center; 
	background-color: #9EDBC9;
  display: inline-block;
}

#user-photo {
	text-align: center;
}
#user-photo img {
	border-radius: 5%;
	border: 10px solid black;
	margin: 0 auto;
}
#activity-index {
	text-align: center;
}
#user-profile {
	text-align: center;
}
#user-activities {
	text-align: center;
}
#user-index {
	text-align: center;
}
#flashes {
	color: red;
	text-align: center;
	font-size: 30px;
}
.custom-panels {
	border-radius: 5%;
	background-color: #9EDBC9;
  margin: 8px;
  padding: 10px;
  border: 1px solid white;
}
#branding {
  color: black;
}
#index-image {
  border-radius: 10%;
  border: 3px solid blue;
}
iframe {
  float: right;
}
div#left-side-activities {
 
  display: inline;
}
#google-map {
  vertical-align: top; 
  display: inline-block;
  float: right;
}
#panels {
  vertical-align: top;
}

// #map {
//   border: 5px solid black;
//   border-radius: 5%;
// }
// #left-side-activities {
// 	float: left;
// }
// #right-side-activities {
// 	float: right;
// }
// #user-activities {
// 	display: table-cell; 
// 	vertical-align: middle;
// }